@import "../../styles/common.scss";
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.header_Admin-user {
    background-color: $colormain;

    .header-container {
        z-index: 99;
        display: flex;
        justify-content: space-between;
        color: $common-text-color;
        height: 40px;
        position: relative;
        .btn-logout {
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            &:hover {
                background-color: darken($colormain, 5);
            }
            i {
                font-size: $base-size + 1px;
            }
        }
    
        .languages {
    
            .welcome {
                margin-right: 10px;
            }
            .language-en {
                margin: 0 15px 0 10px;
                cursor: pointer;
    
                &.active {
                    opacity: 1;
                    color: rgb(233, 136, 245);
                }
            }
    
            .language-vi {
                cursor: pointer;
    
                &.active {
                    opacity: 1;
                    color: orange;
                }
               
            }
        }
    }
}
